<p>Hello again, human.</p>

  <p>Someone has requested a link to change your password. We sure hope it was you.</p>

  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>If you didn't request this, please click your heels three times and say "There's no place like the encrypted database protecting my personal information and passwords!"</p>
  <p>Your password won't change unless you access the link above and create a new one.</p>
<br><br>
