<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>!</h1>
    <p>
      Looks like someone had something to say about your cat - maybe you should check it out!<br>
    </p>
    <p>
      Don't worry - you can click here to check it out: <%= @url %>.
    </p>
    <p>So long, and thanks for all the cats!</p>
  </body>
</html>
