<div class="index">
  <hr>
  <h1>Caturday Team</h1>
  <hr>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <li>
      <img alt ="Mr. G" src= "http://photos-b.ak.instagram.com/hphotos-ak-xpf1/10009850_631503046930689_898534311_n.jpg", width = "200"></br>
      <a href="https://twitter.com/MrGrumbleCat">Mr. Grumblecat</a>
    </li>

    <li>
      <img alt="Adam_Avatar" src="https://avatars0.githubusercontent.com/u/226221?v=2&amp;s=460" width="200"></a></br>
      <a href = "https://github.com/atsheehan">Adam</a>
    </li>

    <li>
      <img alt="Andy_Avatar" src="https://avatars1.githubusercontent.com/u/4927335?v=2&amp;s=460" width="200"></a></br>
      <a href = "https://github.com/alacritythief">Andy</a>
    </li>

    <li>
      <img alt="Anne_Avatar" src="https://avatars0.githubusercontent.com/u/8017149?v=2&amp;s=460" width="200"></a></br>
      <a href = "https://github.com/alpha-tango">Anne</a>
    </li>

    <li>
      <img alt="Josh_Avatar" src="https://avatars2.githubusercontent.com/u/7979985?v=2&amp;s=460" width="200"></a></br>
      <a href = "https://github.com/compression">Josh</a>
    </li>

    <li>
      <img alt="Kristin_Avatar" src="https://avatars3.githubusercontent.com/u/8020831?v=2&amp;s=460" width="200"></a></br>
      <a href = "https://github.com/kms617">Kristin</a>
    </li>
  </ul>
</div>
