<div class="index funteam">
  <hr>
  <h1>Caturday Funteam</h1>
  <hr>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
    <li>
      <a href="https://twitter.com/MrGrumbleCat"><img alt ="Mr. G" src= "http://photos-b.ak.instagram.com/hphotos-ak-xpf1/10009850_631503046930689_898534311_n.jpg"><br>
      Mr. Grumblecat</a>
    </li>

    <li>
      <a href="https://github.com/atsheehan"><img alt="Adam_Avatar" src="https://avatars0.githubusercontent.com/u/226221?v=2&amp;s=460"><br>
      Adam</a>
    </li>

    <li>
      <a href="https://github.com/alacritythief"><img alt="Andy_Avatar" src="https://avatars1.githubusercontent.com/u/4927335?v=2&amp;s=460"><br>
      Andy</a>
    </li>

    <li>
      <a href = "https://github.com/alpha-tango"><img alt="Anne_Avatar" src="https://avatars0.githubusercontent.com/u/8017149?v=2&amp;s=460" width="200"></br>
      Anne</a>
    </li>

    <li>
      <a href="https://github.com/compression"><img alt="Josh_Avatar" src="https://avatars2.githubusercontent.com/u/7979985?v=2&amp;s=460"><br>
      Josh</a>
    </li>

    <li>
      <a href="https://github.com/kms617"><img alt="Kristin_Avatar" src="https://avatars3.githubusercontent.com/u/8020831?v=2&amp;s=460"><br>
      Kristin</a>
    </li>
    <li>
      <a href="http://www.launchacademy.com/"><img alt ="Launch Academy" src= "https://avatars0.githubusercontent.com/u/3612691?v=2"><br>
      Launch Academy</a>
    </li>
    <li>
      <a href="https://github.com/LaunchAcademy/caturday_funtime"><img alt="GitHub" src="https://octodex.github.com/images/pusheencat.png"><br>Caturday Funtime GitHub Repo</a>
    </li>
    <li>
    <a href="https://github.com/LaunchAcademy/"><img alt ="Launch Academy" src= "https://octodex.github.com/images/nyantocat.gif"><br>Other Launch Academy Projects</a>
    </li>
  </ul>
</div>
