body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f0f0f0;
  margin-top: 10px;
}

body p {
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

hr {
  margin: 10px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

label {
  margin-top: 1em;
  font-size: 1em;
}

input[type="text"], textarea {
  width: 100%;
  border-radius: 4px;
  border-color: #ccc;
  border: 1px solid;
  border-color: #ccc;
  padding: 5px;
}

input[type="file"] {
  font-size: 0.7em;
}

textarea {
  height: 10em;
  border-radius: 4px;
}

a {
  color: #ff1493;
  text-decoration: none;
}

a:hover {
  color: #ff1493;
  text-decoration: underline;
}

button, .button {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #03c383;
  padding: 8px 12px;
  font-size: 0.8em;
}

button:hover, .button:hover, button:active, .button:hover {
  background-color: #ff1493;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
}

.container ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.index {
  text-align: center;
}

.index img {
  max-height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.index-image {
  height: 180px;
}

.show img {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  float:left;
}

.nav {
  padding-bottom: 0.5em;
}

.nav ul, .nav li{
  list-style-type: none;
  display: inline-block;
  padding-top: 15px;
  padding-left: 0.5em;
}

.tiny-nav {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.tiny-nav ul, .tiny-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.tiny-nav .button {
  font-size: 2rem;
}

.alert-box.success, .alert-box.warning {
  padding: 0.2em 0.7em;
  font-size: 1em;
}

.alert-box.success {
  background-color: #03c383;
  border-color: #03c383;

}

.alert-box.warning {
  background-color: #ed0345;
  border-color: #ed0345;
}

.login {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.cat-vote {
  line-height: 100%;
  margin-bottom: 30px;
}

.cat-vote form {
  display: inline-block;
}

.user-thumb img {
  vertical-align: text-top;
  float:left;
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
}

.review-vote form {
  display: inline-block;
}

.pagination {
  margin-bottom: 20px;
}

#profile_photo {
  max-width: 200px;
  max-height: 300px;
}
