<h3>Cat Index:</h3>

<ul>

  <% @cats.each do |cat| %>
    <hr>
    <li>
      <p><%= link_to cat.name, cat %></p>
      <p><%= image_tag(cat.url, class: 'thumbnail') %><p>
      <% end %>
    </li>
    <hr>
</ul>

<% if user_signed_in? == true %>
  <%= link_to 'Submit Cat', new_cat_path %>
<% else %>
  Please Sign in to Submit a Cat
<% end %>
