<div class="index">

<h1>Cat Index:</h1>

<hr>

<% if @cats.empty? %>
  <p>No cats yet!</p>
<% else %>
  <ul>
    <% @cats.each do |cat| %>
      <li>
        <p><%= link_to image_tag(cat.url, class: 'thumbnail'), cat %></p>
        <p><strong><%= link_to cat.name, cat %></strong><br>
        posted by <%= cat.user.email %></p>
      </li>
    <% end %>
  </ul>
<% end %>
</div>


