<div class="index">

  <hr>
  <h1>Cat Index:</h1>
  <hr>

  <% if @cats.empty? %>
    <p>No cats yet!</p>
  <% else %>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @cats.each do |cat| %>
        <li>
          <p><%= link_to image_tag(cat.url), cat %></p>
          <p><strong><%= link_to cat.name, cat %></strong><br>
          posted by <br> <%= cat.user.email %></p>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>


